/* Reset Default Browser Styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  /* crucial: remove "display: flex" and "place-items: center" */
  display: block;
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
  height: 100%;
}